__pycache__/
venv/
.venv/
pypi-robocrew/
.env
.clean_coder/
.coderrules
.wav
.idea/
dist/
old_sdk.py
uv.lock
debug/
physical_path.sh
robot_memory.db
logs/
requirements.txt
constraints.txt
test-req.txt
debug/
*.rules
*.log

examples/xlerobot_controler_elevator.py
examples/xlerobot_controler.py